.scrollHorizontal {
    background-color: red;
    height: 25vh;
    margin: 0% 0% 8% 0%;
}

.acessos {
    background-color: rgb(114, 174, 148);
    height: 15vh;
    margin: 0% 0% 3% 0%;
}

.cards {
    height: 50vh;
    overflow-y: scroll;
}


.cardItem {
    padding: 3%;
}