.checkItem {
    height: 20%;
    display: flex;
    overflow-x: scroll;
}

.cards {
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.cardItem {
    padding: 3%;
}

.acessos {
    height: 80px;
    display: flex;
    margin: 0% 0% 0% 0%;
    justify-content: space-around;
    align-items: center;
}