<div class="body">

    <div>
        <div class="checkItem">
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
        </div>

    </div>

    <div class="acessos">
        <app-botao></app-botao>
        <app-botao></app-botao>

    </div>

    <div class="cards">

        <app-card class="cardItem"></app-card>
        <app-card class="cardItem"></app-card>
        <app-card class="cardItem"></app-card>
        <app-card class="cardItem"></app-card>
    </div>

</div>