<div class="body">

    <div>
        <div class="checkItem">
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
            <app-check-item></app-check-item>
        </div>

    </div>

    <div class="acessos">
        <app-botao [tituloBotao]="BotaoMenu">teste 1</app-botao>
        <app-botao [tituloBotao]="'Titulo'">teste 2</app-botao>

    </div>

    <div class="cards">

        <app-card class="cardItem" [tipoCard]="'tempo'"></app-card>
        <app-card class="cardItem" [tipoCard]="'saude'"></app-card>
        <app-card class="cardItem" [tipoCard]="''"></app-card>
        <app-card class="cardItem" [tipoCard]="''"></app-card>
    </div>

</div>